@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float:hover {
  animation-play-state: paused;
}
/* Default Bullet */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid #dc2626; /* Tailwind red-600 */
  opacity: 1;
  transition: all 0.3s ease;
}

/* Active Bullet */
.swiper-pagination-bullet-active {
  background: #dc2626; /* Red Fill */
  border-color: #dc2626;
}